* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c1b47;
    background-image: linear-gradient(to top right, #2c1b47, #462b6c);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 50%;
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(146, 62, 191, 0.2);
}

header {
    margin-bottom: 2rem;
}



h1 {
    color: #ebb328;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #daa520;
    font-size: 1.1rem;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-frame {
    max-width: 300px;
    max-height: 500px;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-frame:active {
    transform: translateY(0);
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: smoothPulseGlow 4s ease-in-out infinite;

}

.card-title {
    color: #ebb328;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-description {
    color: #ebb328;
    line-height: 1.4;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.card-button {
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #ebb328;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(145, 60, 190, 0.4);
    box-shadow: 0 0 15px rgba(146, 62, 191, 0.3);

}

.card-button:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 25px rgba(146, 62, 191, 0.5);
}

@media (max-width: 480px) {

    .container {
        width: 90%;
        background-color: rgba(255, 255, 255, 0.0);
        border-radius: 0px;
        box-shadow: 0 0 20px rgba(146, 62, 191, 0.0);
    }

    h1 {
        display: none;
    }
    .subtitle {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .card-info {
        margin-top: 3rem;
    }

    .card-description {
        font-size: 1rem;
    }


@keyframes smoothPulseGlow {
    0% { box-shadow: 0 0 30px rgba(146, 62, 191, 0.2); }
    50% { box-shadow: 0 0 100px rgba(146, 62, 191, 0.8); }
    100% { box-shadow: 0 0 30px rgba(146, 62, 191, 0.2); }
}

@keyframes breatheGlow {
    0%, 100% { box-shadow: 0 0 50px rgba(164, 160, 185, 0.2); }
    50% { box-shadow: 0 0 70px rgba(164, 160, 185, 0.3); }
}